.rightContainer {
  // width: 40%;
  //height: 100%;
  width: 324px;
  height: 700px;
  border-radius: 50px;
  background: linear-gradient(#cb0000, #0e1239);
  box-shadow: 5px 5px 10px gray;

  #contentsBox {
    width: 100%;
    height: 62.5%;

    .buttonBox {
      @include center;
      width: 100%;
      height: 20%;

      .buttonBackground {
        width: 224px;
        height: 35px;
        background-color: #370505;
        border-radius: 10px;
        display: flex;

        button {
          width: 112px;
          height: 35px;
          border: 0;
          border-radius: 7.5px;
          outline: 0;
          cursor: pointer;
          &.forecast {
            background-color: transparent;
            color: #a52727;
          }
          &.airquality {
            background: #ff0000;
            color: white;
          }
        }
      }
    }
    .weatherBox {
      width: 100%;
      height: 80%;

      .airCondition {
        @include center;
        width: 100%;
        height: 15%;

        p {
          text-align: center;
          font-size: 2.25rem;
          font-weight: 500;
          font-family: 'Be Vietnam Pro', sans-serif;
          color: #fff;
        }
      }
      .detail {
        width: 100%;
        height: 85%;

        .title {
          @include center;
          width: 100%;
          height: 19%;
          color: white;
        }
        .data {
          display: flex;
          width: 100%;
          height: 13%;
          // background-color: rgb(187, 127, 255);

          .dataName {
            display: flex;
            align-items: center;
            width: 50%;
            height: 100%;

            p {
              &:first-child {
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #ffde23;
                margin-left: 50px;
              }
              &:last-child {
                margin-left: 10px;
                color: white;
                font-weight: 300;
                font-size: 0.9rem;
              }
            }
          }
          .dataValue {
            display: flex;
            align-items: center;
            justify-content: right;
            width: 50%;
            height: 100%;

            p {
              color: white;
              font-weight: 300;
              margin-right: 50px;

              span {
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
  #todayWeather {
    width: 100%;
    height: 17.5%;

    .textBox {
      @include center-sb;
      width: calc(100% - 70px);
      height: 35%;
      padding: 0 35px;
      font-family: 'Noto Sans KR', sans-serif;

      p {
        font-weight: 400;
        font-size: 0.8rem;
        color: white;
        text-align: center;

        &:last-child {
          font-weight: 400;
          font-size: 0.8rem;
          color: #ff0000;
          cursor: pointer;
        }
      }
    }
    .timelyWeatherBox {
      display: flex;
      align-items: center;
      width: calc(100% - 70px);
      height: 65%;
      padding: 0 30px;
      .timelyWeather {
        display: flex;
        width: 100px;
        height: 70px;
        background-color: #ff0000;
        border-radius: 20px;
        .data {
          @include c-center-se;
          width: 100%;
          height: 100%;

          p {
            @include center;
            width: 100%;
            height: 33.33%;
            color: whitesmoke;
            font-family: 'Poppins', sans-serif;

            &.time {
              font-size: 0.8rem;
              font-weight: 200;
            }
            &.currentData {
              font-size: 1rem;
            }
          }

          div {
            @include center;
            width: 100%;
            height: 33.33%;
            position: relative;

            img {
              position: absolute;
              right: 50%;
              transform: translateX(-100%);
              height: 80%;
            }
            .fall {
              @include center;
              position: absolute;
              left: 50%;
              transform: translateX(-35%);
              font-size: 0.9rem;
              font-family: 'Poppins', sans-serif;

              span {
                font-size: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}
